extends layout

block content
  h1 Créer un utilisateur 

  form(action="/users/create" method="POST")
    label(for="gender") * Civilité :
    select(name="gender" required)
      option(value="Homme") Homme
      option(value="Femme") Femme

    label(for="category") * Catégorie :
    select(name="category" required)
      option(value="Marketing") Marketing
      option(value="Client") Client
      option(value="Technique") Technique

    label(for="lastname") * Nom :
    input(type="text" name="lastname" required)

    label(for="firstname") * Prénom :
    input(type="text" name="firstname" required)

    label(for="email") * Email :
    input(type="email" name="email" required)

    label(for="password") * Mot de passe :
    input(type="password" name="password" required)

    label(for="phone") * Téléphone :
    input(type="text" name="phone" required)

    label(for="birthdate") * Date de naissance :
    input(type="date" name="birthdate" required)

    label(for="city") * Ville :
    input(type="text" name="city" required)

    label(for="country") * Pays :
    input(type="text" name="country" required)

    label(for="isAdmin") Administrateur :
    input(type="checkbox" name="isAdmin")

    button(type="submit") AJOUTER
