extends layout

block content
  h1 Créer un utilisateur 
  form(action="/users/create" method="POST")
    label(for="civility") * Civilité:
    select(name="civility" required)
      option(value="Monsieur") Monsieur
      option(value="Madame") Madame
    
    label(for="category") * Catégorie:
    select(name="category" required)
      option(value="Marketing") Marketing
      option(value="Client") Client
      option(value="Technique") Technique
    
    label(for="lastname") * Nom:
    input(type="text" name="lastname" required)
    
    label(for="firstname") * Prénom:
    input(type="text" name="firstname" required)
    
    label(for="email") * Email:
    input(type="email" name="email" required)
    
    label(for="password") Mot de passe:
    input(type="password" name="password" required)
    
    label(for="phone") * Téléphone:
    input(type="text" name="phone")
    
    label(for="birthdate") * Date de naissance (jj/mm/aaaa):
    input(type="date" name="birthdate" pattern="\d{2}/\d{2}/\d{4}" required)
    
    label(for="city") * Ville :
    input(type="text" name="city")
    
    label(for="country") * Pays:
    input(type="text" name="country")
    
    label(for="photoUrl") URL de la photo:
    input(type="url" name="photoUrl")
    
    button(type="submit") Ajouter 
