doctype html
html
  head
    title= title
    script(src="/script.js" defer)
  body
    nav
      a(href="/") Liste
      if user
        a(href="/auth/logout") Déconnexion
      else
        a(href="/auth/login") Connexion
        a(href="/auth/inscription") Ajouter 
    block content
